@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, normal;
    color: #fff;
    transition: all 2s ease;
}

body {
    min-height: 100vh;
    background-color: #1a1a1a;
    position: relative;
}

header {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 1000;
}

header > div {
    margin: 0 50px;
    font-size: 18px;
}

header > div.menu > ul {
    display: flex;
    justify-content: space-around;
    min-width: 400px;
    align-items: center;
}

header > div.menu > ul a {
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
    transition: none;
}

header > div.menu > ul a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    border-radius: 5px;
    width: 0;
    background-color: #fff;
    transition: all .5s ease;
}

header > div.menu > ul a:hover::after {
    width: 100%;
}

header > div.menu > ul a:hover,
span a:hover {
    font-weight: 600;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

main {
    min-height: 100vh;
}

main > section {
    min-height: 100vh;
    position: relative;
}

main > section.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main > section::after {
    content: '';
    display: block;
    width: 80%;
    height: 10px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    left: 10%;
}

main > section.main > pre {
    /* flex-grow: 1; */
    margin-top: 100px;
    max-width: 400px;
    min-height: 70px;
    word-wrap: break-word;
    text-align: center;
    font-size: 25px;
}

main > section.main > pre::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s 20;
  }

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}

main > section.main > span {
    position: relative;
    /* top: 70%; */
    /* left: 50%; */
    width: 20px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 10px;
}

main > section.main > span::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-6px, 0);
    /* animation-name: scrolar; */
    animation:scrolar 3s ease 1s infinite ;
}

@keyframes scrolar {
    0% {top: 20%;}
    50% {top: 50%;}
    100% {top: 20%;}
}

aside {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #111;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    opacity: 0;
}

aside.show {
    opacity: 1;
}

aside:hover {
    box-shadow: 0 0 5px #232323;
}

main > section#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section#about > div {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

main > section#about > div > img {
    width: 100%;
    border-radius: 50%  ;
    border: 2px solid #fff;
    cursor: pointer;
    transition: all .5s ease;
    z-index: 1000;
}

main > section#about > div > img:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255, .4);
}


main > section#about > div span {
    display: block;
    background-color: #fff;
    position: absolute;
    width: 5px;
    /* z-index: -1; */
}

main > section#about > div > span#id_1 {
    width: 300px;
    height: 5px;
    right: -300px;
    top: 100px;
}

/* main > section#about > div > span#id_1 > span {
    width: 5px;
} */

main > section#about > div > span#id_1 > span#top {
    height: 100px;
    right: 0;
    top: -100px;
}

main > section#about > div > span#id_1 > span#bottom {
    height: 150px;
    right: 50%;
    bottom: -150px;
}

main > section#about > div > span#id_1 > span#bottom > a {
    width: max-content;
    position: absolute;
    bottom: -35px;
    left: -78px;
    padding: 0 10px;
    z-index: 1;
    cursor: pointer;
    transform: translate(10px, 30px);
    opacity: 0;
}

main > section#about > div > span#id_1 > span#bottom > a::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #fff;
    border-radius: 1px;
}

main > section#about > div > span#id_1 > span#top > p {
    position: absolute;
    /* height: 30px; */
    padding: 0 10px 10px;
    width: 250px;
    top: -155px;
    right: -125px;
    text-align: justify;
    font-size: 15px;
    transform: translate(-30px, 0);
    opacity: 0;
}

main > section#about > div > span#id_1 > span#top > p::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fff;
    border-radius: 1px;
}

main > section#about > div > span#id_2 {
    width: 250px;
    height: 5px;
    left: -250px;
    top: 50%;
}

main > section#about > div > span#id_2 > span#top {
    height: 50px;
    left: 10%;
    top: -50px;
}

main > section#about > div > span#id_2 > span#top > div {
    width: 400px;
    left: -200px;
    bottom: 50px;
    position: absolute;
    font-size: 12px;
    padding: 0 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translate(0, 30px);
    opacity: 0;
}

main > section#about > div > span#id_2 > span#top > div::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 1px;
    background-color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
}

main > section#about > div > span#id_2 > span#top > div > h2 {
    font-size: 20px;
    text-align: center;
}

main > section#about > div > span#id_2 > span#top > div > ul {
    display: flex;
    gap: 20px;
    /* align-items: center; */
}

main > section#about > div > span#id_2 > span#top > div > ul > li {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main > section#about > div > span#id_2 > span#top > div > ul > li > p {
    text-align: justify;
}

main > section#about > div > span#id_2 > span#bottom {
    height: 50px;
    left: 0;
    bottom: -50px;
}

main > section#about > div > span#id_2 > span#bottom > div {
    width: max-content;
    padding: 20px 25px;
    position: absolute;
    right: -172px;
    top: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    transform: translate(-30px, 20px);
    opacity: 0;
}

main > section#about > div > span#id_2 > span#bottom > div::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 1px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}

main > section#about > div > span#id_2 > span#bottom > div > div {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

main > section#about > div > span#id_2 > span#bottom > div > div > ul > li {
    list-style-type: circle;
}

main > section#about > div > span> span > .show {
    transform: translateY(0) !important;
    opacity: 1 !important;
}